<h1>{{ course.course_code }} {{course.course_name}}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% load static %}
{% load courses_extra %}
<link rel="stylesheet" type="text/css" href="{% static 'courses/detail.css' %}">

<form action="{% url 'courses:set_grade' course.id %}" method="post">
{% csrf_token %}
<div class="table">
    <div class="row">
        <div class="cell">Name</div>
        <div class="cell">Weight</div>
        <div class="cell">Grade(%)</div>
    </div>
    {% for assessment in course.assessment_set.all %}
        {% if assessment.components > 1 %}
            {% for i in 1|filter_range:assessment.components %}
                <div class="row">
                    <div class="cell">{{assessment.name}} {{i}}</div>
                    <div class="cell">{{assessment.weight|div:assessment.components}}</div>
                    <div class="cell">
                        <input type="number" max="100" name="{{assessment.id}}_{{forloop.counter}}"/>
                    </div>
                </div>
            {% endfor %}
        {% else%}
            <div class="row">
                <div class="cell">{{assessment.name}}</div>
                <div class="cell">{{assessment.weight}}</div>
                <div class="cell">
                    <input type="number" max="100" name="{{assessment.id}}_1"/>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<input type="submit" value="Save Changes">
</form>