<h1>{{ course.course_code }} {{course.course_name}}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<div class="table">
    <div class="row">
        <div class="cell">Name</div>
        <div class="cell">Total Weight</div>
        <div class="cell">Number</div>
    </div>
    {% for assessment in course.assessment_set.all %}
        <div class="row">
            <div class="cell">{{assessment.name}}</div>
            <div class="cell">{{assessment.weight}}</div>
            <div class="cell">{{assessment.components}}</div>
        </div>
    {% endfor %}
</div>