
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% load static %}
{% load courses_extra %}
<link rel="stylesheet" type="text/css" href="{% static 'courses/detail.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'courses/style.css' %}">

{% if user.is_authenticated %}
<div id = "auth_nav"> 
User: {{ user.get_username }}  <a class="button" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
</div>

<h1>{{ course.course_code }} {{course.course_name}} <a class="button" href="{% url 'courses:complete_course_req' course.id %}">Complete Course</a></h1>
<title>{{ course.course_code }} {{course.course_name}}</title>
<form action="{% url 'courses:set_grade' course.id %}" method="post">
    {% csrf_token %}
    <div class="table">
        <div class="row">
            <div class="cell">Name</div>
            <div class="cell">Weight</div>
            <div class="cell">Grade(%)</div>
        </div>
        {% for assessment in course.assessment_set.all %}
        {% if assessment.components > 1 %}
        {% for i in 1|filter_range:assessment.components %}
        <div class="row">
            <div class="cell">{{assessment.name}} {{i}}</div>
            <div class="cell">{{assessment.weight|div:assessment.components}}</div>
            <div class="cell">
                <input type="text" name="{{assessment.id}}_{{i}}" value="{% getMark assessment.id i user.id %}" required
                    pattern="^(?:\d{1,2}(?:\.\d{1,2})?|100(?:\.0?0)?)" />
            </div>
        </div>
        {% endfor %}
        {% else%}
        <div class="row">
            <div class="cell">{{assessment.name}}</div>
            <div class="cell">{{assessment.weight}}</div>
            <div class="cell">
                <input type="text" name="{{assessment.id}}_1" value="{% getMark assessment.id 1 user.id %}" required
                    pattern="^(?:\d{1,2}(?:\.\d{1,2})?|100(?:\.0?0)?)" />
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="average">
        <div class="total">Total Average: {{course.id|getTotalAverage:user.id}}%</div>
        <div class="weighted">Weighted Average: {{course.id|getWeightedAverage:user.id}}%</div>
    </div>
    <input class="button" type="submit" value="Save Changes">
    <div> 
        <a class="button" href="{% url 'courses:index' %}"> Back to Courses</a>
    </div>
</form>

{% else %}
<p> You are not authenticated, please
<a href="{% url 'login'%}?next={{request.path}}">Login</a></p>
{% endif %}