{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'courses/style.css' %}">

{% if user.is_authenticated %}
<div id = "auth_nav"> 
    User: {{ user.get_username }}  <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
</div>
<title>Drop courses</title>
<h1>Click on a course to drop</h1>

<div>
<ul>
    {% for course in course_list %}
    <li><a href="{% url 'courses:add_course_req' course.id %}">{{ course.course_code }} {{course.course_name}}</a></li>
    {% endfor %}    
</ul>
</div>

<div> 
    <a href="{% url 'courses:index' %}"> Back to Courses</a>
</div>

{% else %}
<p> You are not authenticated, please
<a href="{% url 'login'%}?next={{request.path}}">Login</a></p>
{% endif %}